table {
  width: 100%;
  border: 1px solid #f1f1f1;
}
td,
th {
  text-align: center;
  vertical-align: middle;
  padding: 20px;
}
th {
  color: #0000008a;
}
.grand-total {
  color: rgba(0, 0, 0, 0.87);
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
}
.product-name {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.product-price {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #000;
}
.product-total {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  color: #f33927;
}
