<!-- Footer -->
<footer class="page-footer" style="padding: 60px 0; background-color: #f7f7f7;">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3">
        <!-- Content -->
        <h1 class="text-uppercase ml-3"><b>Shop Site</b></h1>
        <p>
          Here you can use rows and columns to organize your footer content.Here
          you can use rows and columns to organize your footer content.
        </p>
      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3" />

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h2 class="text-uppercase" style="text-align: left;">Shop Central</h2>

        <ul class="list-unstyled">
          <li>
            <a href="#!">SignIn/Register</a>
          </li>
          <li>
            <a href="#!">Payment Options</a>
          </li>
          <li>
            <a href="#!">FAQs</a>
          </li>
          <li>
            <a href="#!">Refer & Earn</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h2 class="text-uppercase" style="text-align: left;">About Us</h2>

        <ul class="list-unstyled">
          <li>
            <a href="#!">History</a>
          </li>
          <li>
            <a href="#!">Awards</a>
          </li>
          <li>
            <a href="#!">Newsletters</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h2 class="text-uppercase" style="text-align: left;">Contact Us</h2>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex;"
        >
          <div class="icon mr-sm-1">
            <mat-icon>location_on</mat-icon>
          </div>
          <div class="text">
            <p>1st Cross, Adyar, Chennai</p>
          </div>
        </div>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex;"
        >
          <div class="icon mr-sm-1">
            <mat-icon>call</mat-icon>
          </div>
          <div class="text">
            <p>01(234)567 890</p>
          </div>
        </div>
        <div
          class="tel-box"
          fxlayout="row"
          style="flex-direction: row; box-sizing: border-box; display: flex;"
        >
          <div class="icon mr-sm-1">
            <mat-icon>mail</mat-icon>
          </div>
          <div class="text">
            <p>contact@shopsite.com</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->
</footer>
<!-- Footer -->
